$colorUno:rgb(39, 59, 39);
$colorDos:rgb(104, 163, 104);
$colorTres:rgb(3, 173, 3);
$colorCuatro:rgb(236, 232, 232);
$parrafoChico: 15px;
$fontFamilyUno:"Amari", serif;
$fontFamilyDos:'Noto Sans TC', sans-serif;
$fontFamilyTres:'EB Garamond', serif;
$fontFamilyCuatro:'Roboto', sans-serif;
